<mat-form-field class="order" appearance="fill">
    <mat-label>Ordinamento</mat-label>
    <mat-select (selectionChange)="orderFilms()" [(ngModel)]="order" name="order">
      <mat-option *ngFor="let order of orders" [value]="order.value">{{order.viewValue}}</mat-option>
    </mat-select>
</mat-form-field>

<swiper [navigation]="true" [slidesPerView]="3" [spaceBetween]="0" [freeMode]="true" [pagination]="{ clickable: true }">
    <ng-template swiperSlide *ngFor="let film of films; trackBy: trackByFilm">
        <div class="film-container">
            <film [film]="film"></film>
            <button mat-button (click)="goToDetails(film)">Dettagli</button>
        </div>
    </ng-template>
</swiper>
