@import "~swiper/css";
@import "~swiper/css/pagination";

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}

:host {
  padding-bottom: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background:black;

  
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
}

.swiper-slide img {
  display: block;
  width: 300px;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: white;
}

div.film-container {
  width: 300px;
}

.mat-button {
  color: white;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white
}