.film-detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film-detail-container img {
    width: 300px
}

.film-detail-container p {
    white-space: normal;
    overflow: auto;
    text-overflow: unset;
}